.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: $navbar-height;
  z-index: 4;
  height: 100%;
  background-color: $theme-color-2;
  transition: border-radius $menu-collapse-time;

  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
  .scrollbar-container {
    margin-right: 0;
    padding-right: 0;
  }

  .main-menu {
    width: $main-menu-width;
    height: calc(100% - #{$navbar-height});
    background-color: $theme-color-2;
    z-index: 3;
    position: fixed;
    margin-top: 3px;
    border-radius: 24px 24px 24px 24px;
    transition: transform $menu-collapse-time;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    left: 0;

    .scroll {
      padding-right: unset;
      margin-right: unset;
      height: 100%;

      .ps__thumb-y {
        right: 0;
      }
    }

    &.main-hidden {
      transform: translateX(-$main-menu-width);
    }

    ul li {
      position: relative;

      span {
        text-align: center;
        padding: 0 10px;
        line-height: 14px;
      }

      a {
        height: $main-menu-item-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        border-bottom: 1px solid $separator-color;
        color: $foreground-color;
        transition: color $menu-collapse-time ease-out;
        transition: background $menu-collapse-time;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $theme-color-1;
        }
      }

      i {
        font-size: 32px;
        line-height: 42px;
      }

      &.active a {
        color: $theme-color-1;
      }

      &.active:after {
        content: " ";
        background: $theme-color-1;
        border-radius: 10px;
        position: absolute;
        width: 6px;
        height: 90px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      &:last-of-type {
        a {
          border-bottom: initial;
        }
      }
    }

    @include respond-below(xl) {
      width: $main-menu-width-lg;
      height: calc(100% - #{$navbar-height-lg});
    }

    @include respond-below(lg) {
      width: $main-menu-width-md;
      height: calc(100% - #{$navbar-height-md});
    }

    @include respond-below(sm) {
      width: $main-menu-width-xs;
      height: calc(100% - #{$navbar-height-xs});

      ul li i {
        font-size: 28px;
        line-height: 38px;
      }

      ul li a {
        height: $main-menu-item-height;
      }

      ul li.active:after {
        width: 3px;
        height: 60px;
      }
    }
  }
}

.main-show-temporary {
  .main-menu {
    transform: translateX(0);
  }

  @include respond-below(xl) {
    .main-menu {
      transform: translateX(0);
    }
  }

  @include respond-below(lg) {
    .main-menu {
      transform: translateX(0);
    }
  }
}
.sub-hidden .sub-menu,
.menu-sub-hidden .sub-menu,
.menu-hidden .sub-menu {
  transform: translateX(-$sub-menu-width);

  @include respond-below(xl) {
    transform: translateX(-$sub-menu-width-lg);
  }

  @include respond-below(lg) {
    transform: translateX(-$sub-menu-width-md);
  }

  @include respond-below(sm) {
    transform: translateX(-$sub-menu-width-xs);
  }
}
.main-hidden .main-menu,
.menu-hidden .main-menu {
  transform: translateX(-$main-menu-width);

  @include respond-below(xl) {
    transform: translateX(-$main-menu-width-lg);
  }

  @include respond-below(lg) {
    transform: translateX(-$main-menu-width-md);
  }

  @include respond-below(sm) {
    transform: translateX(-$main-menu-width-xs);
  }
}
.main-hidden .main-menu,
.menu-hidden .main-menu {
  transform: translateX(-$main-menu-width);

  @include respond-below(xl) {
    transform: translateX(-$main-menu-width-lg);
  }

  @include respond-below(lg) {
    transform: translateX(-$main-menu-width-md);
  }

  @include respond-below(sm) {
    transform: translateX(-$main-menu-width-xs);
  }
}
.main-hidden.sub-hidden .sub-menu,
.menu-hidden .sub-menu {
  transform: translateX(-$sub-menu-width - $main-menu-width);

  @include respond-below(xl) {
    transform: translateX(-$sub-menu-width-lg - $main-menu-width-lg);
  }

  @include respond-below(lg) {
    transform: translateX(-$sub-menu-width-md - $main-menu-width-md);
  }

  @include respond-below(sm) {
    transform: translateX(-$sub-menu-width-xs - $main-menu-width-xs);
  }
}
