.user_onboaring {
  padding: 2em;
}
input[type="text"]:focus {
  border: 1px solid $theme-color-5 !important;
  box-shadow: 0px 5px 5px 2px $theme-color-5 !important;
}
textarea:focus {
  border: 1px solid $theme-color-5 !important;
  box-shadow: 0px 5px 5px 2px $theme-color-5 !important;
}
input[type="password"]:focus {
  border: 1px solid $theme-color-5 !important;
  box-shadow: 0px 5px 5px 2px $theme-color-5 !important;
}
input[type="email"]:focus {
  border: 1px solid $theme-color-5 !important;
  box-shadow: 0px 5px 5px 2px $theme-color-5 !important;
}

.user_onboaring__rightside {
  width: 50%;
  padding: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  .card-header {
    color: $primary-color !important;
  }
  .inner-card {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3em;
    flex-direction: column !important;
    background: $foreground-color !important;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.55) !important;
    border-radius: 72px !important;
    color: $primary-color;
  }
}
.user_onboaring__leftside {
  width: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 80px 40px;
}
