* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html {
//   width: 100%;
//   height: 100%;
//   background-color: $background-color;
// }

:root {
  --theme-color-1: #{$theme-color-1};
  --theme-color-2: #{$theme-color-2};
  --theme-color-3: #{$theme-color-3};
  --theme-color-4: #{$theme-color-4};
  --theme-color-5: #{$theme-color-5};
  --theme-color-6: #{$theme-color-6};
  --primary-color: #{$primary-color};
  --foreground-color: #{$foreground-color};
  --separator-color: #{$separator-color};
}

#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  color: $primary-color !important;
  background-color: $theme-color-1 !important;
  &.background {
    height: 100%;
    main {
      margin: 0;
      height: 100%;
      .container {
        height: 100%;
      }
    }
  }
}

a {
  color: $primary-color;
  transition: color $animation-time-short;

  &:hover,
  &:active {
    text-decoration: initial;
    color: $theme-color-1;
  }
}

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Poppins", sans-serif;
}
hr {
  border-top: 1px solid $separator-color;
}
main {
  margin-left: $sub-menu-width + $main-menu-width + $main-margin;
  margin-top: $navbar-height + $main-margin - 15;
  margin-right: $main-margin;
  margin-bottom: $main-margin - 20;
  transition: margin-left $menu-collapse-time;

  &.sub-hidden {
    margin-left: $main-menu-width + $main-margin;
  }

  &.main-hidden {
    margin-left: $main-margin;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  @include respond-below(xl) {
    margin-left: $sub-menu-width-lg + $main-menu-width-lg + $main-margin-lg;
    margin-right: $main-margin-lg;
    margin-top: $main-margin-lg + $navbar-height-lg -10;
    margin-bottom: 30px;
  }

  @include respond-below(lg) {
    margin-left: $sub-menu-width-md + $main-menu-width-md + $main-margin-md;
    margin-right: $main-margin-md;
    margin-top: $main-margin-md + $navbar-height-md -10;
    margin-bottom: 20px;
  }

  @include respond-below(sm) {
    margin-left: $main-margin-xs !important;
    margin-right: $main-margin-xs !important;
    margin-top: $main-margin-xs + $navbar-height-xs !important;
    margin-bottom: 0;
  }

  @include respond-below(xs) {
    margin-bottom: 0;
  }
}

//Menu Config Main

.sub-hidden main,
.menu-sub-hidden main,
.menu-hidden main {
  margin-left: $main-menu-width + $main-margin;
}

.main-hidden main,
.menu-hidden main {
  margin-left: $main-margin;
}

@include respond-below(xl) {
  .sub-hidden main,
  .menu-sub-hidden main,
  .menu-hidden main {
    margin-left: $main-menu-width-lg + $main-margin-lg;
  }

  .main-hidden main,
  .menu-hidden main {
    margin-left: $main-margin-lg;
  }
}
button {
  transition: 0.2s !important;
}
button:hover {
  background-color: $theme-color-4 !important;
}
