.render_prescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 0 0.5em;
}
.prescription_title {
  font-size: 20px;
  line-height: 1.6;
  padding: 1em;
}
.doctor_name,
.prescription_date,
.prescription_url {
  line-height: 1.6;
  text-align: center;
  font-size: 18px;
}
.prescription_row {
  padding: 10px;
}

.prescription_button {
  background-color: $theme-color-3 !important;
  border-color: $theme-color-3 !important;
}
a.prescription_url:hover {
  text-decoration: none;
  color: $theme-color-1;
}
.view_prescription {
  height: 25em;
  width: inherit;
  padding: 0.5em;
  margin-right: 1em;
}
